/*---reset styles---*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

ul {
  list-style: none;
}

/*---custom styles---*/
html {
	font-size: 62.5%
}

body {
  font-family: 'Open Sans', arial, sans-serif;
  color: #525252; /*gray*/
  font-size: 1.8rem;

}
h1 {
	font-family: 'Lobster Two', arial, sans-serif;
	padding: 21px;
	

}

h2 {
	text-align: center;
	font-family: 'Lobster Two';
	margin: 35px 0 10px 0;
}

h3 {
	text-align: left;
	text-transform: uppercase;
	font-size: 1.8rem;
	margin: 10px 0 5px 0;
}

p {
	text-align: justify;
}



/*---header---*/
.page-header .header-title {
	background-color: #000325; /*#300040; dark purple*/
	color: #ffffff;
	padding-bottom: 20px;

}

.page-header .header-title h3,
.page-header .header-title p {
	text-align: center;
	padding: 0 5px;
}

/*---navigation---*/
.page-header .page-nav .is-closed {
	display:none;
}

.page-header .page-nav .navigation-menu {
	text-align: center;
	padding: 30px 0;
		-webkit-box-shadow: 		0px 2px 15px 5px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:    	0px 2px 15px 5px rgba(50, 50, 50, 0.5);
			 	box-shadow:         	0px 2px 15px 5px rgba(50, 50, 50, 0.5);

}
.page-header .page-nav .navigation-menu li {
	list-style: none;
	padding: 20px 0;
}

.page-header .page-nav .navigation-menu li a {
	text-decoration: none;
	color: #00945b; /*green ish*/
}

.page-nav .hamburger {
	background-color: #ffffff;
	padding: 5px 5px 3px 5px;
	border-radius: 2px;
	position: absolute;
	top: 20px;
	right: 15px;
}

.page-nav .hamburger-inner, 
.page-nav .hamburger-inner::before, 
.page-nav .hamburger-inner::after {
    background-color: #00945b;
}



/*---about---*/
.about-me {
	margin: 15px 5px 0 5px;
	text-align: center;
}

.about-me .about-picture {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

.about-me p {
	margin-bottom: 10px;
}

 .about-me a, 
 .projects a {
 	text-decoration: none;
 	color: #00945b;
 }


/*---projects---*/
.projects {
	margin: 0 5px;
}

.projects .project-content{
    border-bottom: 2px dotted #00945b;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.projects .project-content img {
	max-width: 100%;
	border-radius: 10px;
	border: 1px solid #525252;
	margin: 10px 0;
}

/*---contact me---*/
.contact-me {
	margin: 0 5px 40px 5px;
}

/*---footer---*/
.page-footer .page-nav {
	text-align: center;
}

.page-footer .page-nav  .navigation-menu li {
	display: inline-block;
	margin-top: 40px;
	padding: 0 10px;
}
.page-footer .page-nav .navigation-menu li a {
	text-decoration: none;
	color: #00945b; /*green ish*/
}

.page-footer .footer-title {
	background-color: #000325;
	color: #ffffff;
	font-family: 'Lobster Two';
	margin-top: 10px;
	padding: 15px;
	text-align: right;
}
.footer-title p {
	text-align: right;
}

@media (min-width: 640px){
	.page-header .page-nav .navigation-menu {
		display: block;
		padding:  0;
	}

	.page-header .page-nav .navigation-menu li{
		display: inline-block;
		padding: 20px;

	}
	.page-header .page-nav .navigation-menu li a:hover {
		text-decoration: underline;
	}
	.page-header .page-nav button {
		display:none;
	}

	.about-me,
	.projects {
		max-width: 70vw;
		margin: auto;
	}

	.contact-me {
		text-align: center;
		padding: 50px 0;
		background-color: #00945b; 
		color: #ffffff;
		margin: 120px 0;
	}

	.contact-me p {
		text-align: center;
		margin: 10px 0 35px 0;
	}

	.project-content {
		height: 100%;
		overflow: hidden; /*child-divs dont run away from this div*/
	}

	.project-content .project-description {
		box-sizing: border-box;
		float: left;
		width: 55%;
		margin-right: 4%;
	}

	.project-content .project-preview {
		box-sizing: border-box;
		float: left;
		display: inline-block;
		padding-top: 24px;
		width: 40%;
	}

	.page-footer .page-nav .navigation-menu li a:hover {
		text-decoration: underline;
	}

	









} /*ends media queries*/